/*“When a man is denied the right to live the life he believes in, he has no choice but to become an outlaw.”
― Nelson Mandela*/

* {
    box-sizing: border-box;
}

body {
    background-color: #f2f2f2;
}

h1,
h2,
h3 {
    text-align: center;
    font-family: impact;
}

#indent {
    text-indent: 40px;
}

.red {
    color: rgba(255, 0, 0, 0.9);
    text-decoration: overline underline hotpink double;
    font-family: impact, serif;
}

#orange {
    color: #ffa500;
    text-transform: uppercase;
    text-shadow: 4px 4px #000;
    font-family: "Lucida Console", serif;
    font-size: 40px;
}

#yellow {
    color: #ff0;
    text-shadow: 4px 4px #000;
    font-family: 'times new roman', serif;
    font-weight: bold;
}

#green {
    color: #065535;
    background-color: yellowgreen;
    opacity: 0.7;
    font-variant: small-caps;
}

#indigo {
    color: #4b0082;
    text-shadow: 2px 2px #f00;
    letter-spacing: 1px;
}

.violet {
    color: #ee82ee;
}

header {
    border: 5px solid #000;
}

img {
    margin: auto;
    width: 200px;
    height: 210px;
    display: block;
}

mark {
    background-color: hsla(240, 100%, 50%, 0.9);
    color: skyblue;
    font-family: 'Audiowide', serif;
}

table,
th,
td {
    height: 100%;
    width: 100%;
    border: 3px solid #4b0082;
    padding: 5px;
}

tr:nth-child(even) {
    background-color: rgba(128, 0, 128, 0.4);
}

tr:nth-child(odd):hover {
    background: #800080;
}

span {
    color: #900;
}

#display {
    display: none;
}

#container1 {
    border-width: 1px 5px 3px 5px;
    border-style: solid;
    border-color: #000;
    padding: 4px;
}

#container2 {
    border: 6px solid #aaa;
    outline: 5px solid #000;
    padding: 4px;
}

ul {
    list-style-type: square;
    background: #ff9999;
    padding: 20px;
}

ul li {
    background: #ffe5e5;
    color: darkred;
    margin: 5px;
}

a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: hotpink;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
    font-size: 30px;
}

a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}

footer {
    font-size: small;
    background-image: url('https://www.tutorialkart.com/sample_image.jpg');
    border: 5px solid orange;
    border-radius: 15px;
}